{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "styles/listing-calendar.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
    <div class="listing-page-container">
        <div class="listing-title-container">
            <div class="listing-title-rating">
                <h1>{{ listing.title }}</h1>
                <div class="review-date-rating">
                    <p class="review-rating">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= average_rating %}
                                <i class="fa-solid fa-star"></i>
                            {% else %}
                                <i class="fa-regular fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="listing-title-container-btns">
{#                <div class="listing-share">#}
{#                    <p><i class="fa-solid fa-arrow-up-from-bracket"></i>Сподели</p>#}
{#                </div>#}
                <div class="listing-like" data-listing-id="{{ listing.id }}">
                    <button class="like-btn" aria-label="like">
                        {% if is_liked %}
                            <i class="fa-solid fa-heart" style="color:#ed4040;"></i>
                        {% else %}
                            <i class="fa-regular fa-heart"></i>
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
        <div class="listing-images-container">
            <img class='image-grid-col-2 image-grid-row-2' src="{{ listing.images.first.image.url }}" alt="">
            {% for image in listing.images.all|slice:"1:5" %}
                <img src="{{ image.image.url }}" alt="">
            {% endfor %}
            <button id="open-gallery-btn" class="show-images-btn basic-btn"><i class="fa-regular fa-images"></i>
            </button>
        </div>
        <div id="image-modal" class="modal">
            <div class="modal-content">
                <span id="close-modal" class="close">&times;</span>
                <div class="modal-grid">
                    <div class="listing-column">
                        {% for image in first_half_images %}
                            <a href="{{ image.image.url }}">
                                <img src="{{ image.image.url }}" alt="">
                            </a>
                        {% endfor %}
                    </div>
                    <div class="listing-column">
                        {% for image in second_half_images %}
                            <a href="{{ image.image.url }}">
                                <img src="{{ image.image.url }}" alt="">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <h2 class="mini-title">{{ listing.mini_description }}</h2>
        <div class="mini-description-container">
            <ul>
                <li class='basic-btn'>Брой гости - {{ listing.max_people }}</li>
                {% if listing.camping == 'camper' %}
                    <li class='basic-btn'>Каравани</li>
                    <li class='basic-btn'>Къмпинг {{ listing.camping }}</li>

                {% elif listing.type == 'bungalow' %}
                    <li class='basic-btn'>Бунгала</li>
                    <li class='basic-btn'>Къмпинг {{ listing.camping }}</li>
                {% else %}
                    <li class='basic-btn'>Апартаменти</li>
                {% endif %}
            </ul>
            <div class="host">
                <p>Отдаващ: {{ listing.owner.first_name }} {{ listing.owner.last_name }}</p>
                <i class="fa-solid fa-circle-user"></i>
            </div>
        </div>
        <div class="listing-container">
            <div class="listing-info-container">
                <hr>
                <div class="listing-description">
                    <h2 class='mini-title'>Описание</h2>
                    <p>{{ listing.description }}</p>
                </div>
                <hr>
                <div class="listing-map-container">
                    <h2 class='mini-title'>Местоположение</h2>
                    <div id="map" class='listing-map'></div>
                    <p class="hidden" id="lng">{{ listing.location.longitude }}</p>
                    <p class="hidden" id="lat">{{ listing.location.latitude }}</p>
                </div>
                <hr>
                <div class="amenity-container">
                    <h2 class='mini-title'>Удобства</h2>
                    <ul>
                        {% for amenity in listing.amenities.all %}
                            <li>{{ amenity }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                <div class="listing-reviews-container">
                    <h2 class='mini-title'>Ревюта</h2>
                    <div class="listing-reviews-buttons">
                        <button class="pre-btn"><i class="fa-solid fa-angle-left"></i></button>
                        <button class="next-btn"><i class="fa-solid fa-angle-right"></i></button>
                    </div>
                    <div class="reviews-cards slider-container">
                        {% for comment in listing.comments.all %}
                            <div class="card">
                                <div class="card-top">
                                    <div class="card-top-profile">
                                        <i class="fa-solid fa-circle-user"></i>
                                        <div class="review-card-name">
                                            <p>{{ comment.user.first_name }}</p>
                                            {#                                        <p>{{ comment.user.profile.country|default:"Unknown" }}</p>#}
                                        </div>
                                    </div>
                                    <div class="review-date-rating">
                                        <p class='review-date'>{{ comment.created_at|date:"d/m/Y" }}</p>
                                        <p class="review-rating">
                                            {% for i in "12345"|make_list %}
                                                {% if forloop.counter <= comment.rating %}
                                                    <i class="fa-solid fa-star"></i>
                                                {% else %}
                                                    <i class="fa-regular fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <p>{{ comment.comment_text }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <p>Все още няма коментари.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="listing-social-container">
                <div class="listing-social-sticky-container">
                    <h2 class='mini-title'>{{ listing.regular_price }}Bgn на нощувка</h2>
                    <div class="reservation-info">
                        <div id="calendar"></div>
                        <input type="hidden" id="check-in">
                        <input type="hidden" id="check-out">
                    </div>
                    <a id="reserve-btn" href="{% url 'reserve_listing' listing.slug %}"
                       class="reserve-btn">Резервирай</a>
                </div>
                <div class="listing-social-sticky-container">
                    <p>Адрес: {{ listing.location.address }}</p>
                    <p>Държава: {{ listing.location.region }}</p>
                    <p>Град: {{ listing.location.city }}</p>
                </div>
                <div class="listing-social-sticky-container">
                    <a href="{% url 'add-comment' listing.slug %}" class='add-listing-comment'><i
                            class="fa-regular fa-comment"></i>Добави коментар</a>
                </div>
                {#                <div class="nearby-destinations">#}
                {#                    <ul>#}
                {#                        <li>Кефене якото кафене</li>#}
                {#                        <li>Музей на спорта</li>#}
                {#                        <li>Люлка на любовта</li>#}
                {#                        <li>Детска площадка</li>#}
                {#                        <li>Парк</li>#}
                {#                    </ul>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/listing-page-map.js' %}"></script>
    <script>
        window.pageType = "listing";
        window.reservedDates = [
            {% for res in listing.reservations.all %}
                {start: "{{ res.check_in|date:'Y-m-d' }}", end: "{{ res.check_out|date:'Y-m-d' }}"},
            {% endfor %}
        ];
    </script>
    <script src="{% static 'javascript/reservation-calendar.js' %}"></script>
    <script src="{% static 'javascript/like.js' %}"></script>
{% endblock %}