{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="listing-page-container">
        <div class="listing-title-container">
            <h1>Каравана "Нашето място"</h1>
            <div class="listing-title-container-btns">
                <p><i class="fa-solid fa-arrow-up-from-bracket"></i>Сподели</p>
                <p><i class="fa-regular fa-heart"></i>Харесай</p>
            </div>
        </div>
        <div class="listing-images-container">
            <img class = 'image-grid-col-2 image-grid-row-2' src="{% static 'images/listing-images/bedroom-1285156_1920.jpg' %}" alt="">
            <img src="{% static 'images/listing-images/caravan-6740396_1920.jpg' %}" alt="">
            <img src="{% static 'images/listing-images/hotel-1749602_1920.jpg' %}" alt="">
            <img src="{% static 'images/listing-images/hotel-room-5858067_1920.jpg' %}" alt="">
            <img src="{% static 'images/listing-images/window-3178666_1920.jpg' %}" alt="">
        </div>
        <h2 class="mini-title">Каравана в къмпинг 'Златна Рибка'</h2>
        <div class="mini-description-container">
            <ul>
                <li class = 'basic-btn'>Брой гости - 3</li>
                <li class = 'basic-btn'>Къмпинг 'Златна Рибка'</li>
                <li class = 'basic-btn'>Каравани</li>
            </ul>
            <div class="host">
                <p>Отдаващ: Георги Георгиев</p>
                <i class="fa-solid fa-circle-user"></i>
            </div>
        </div>
        <div class="listing-container">
            <div class="listing-info-container">
                <hr>
                <div class="listing-description">
                    <h2 class = 'mini-title'>Описание</h2>
                    <p>Караваната под наем е идеалният начин да съчетаеш приключението с уюта на дома. Тя предлага напълно оборудвано пространство за спане, готвене и почивка, където и да се намираш. Можеш да избягаш от града и да се събудиш до морето, в гората или в планината. Без нужда от хотел или фиксирана локация, ти избираш ритъма и маршрута. Караваната ти дава свободата да пътуваш комфортно и стилно – на твои условия.</p>
                </div>
                <hr>
                <div class="listing-map-container">
                    <h2 class = 'mini-title'>Местоположение</h2>
                    <div id="map" class = 'listing-map'></div>
                </div>
                <hr>
                <div class="amenity-container">
                    <h2 class = 'mini-title'>Удобства</h2>
                    <ul>
                        <li>Домашни любимци</li>
                        <li>Телевизор</li>
                        <li>Тоалетна</li>
                        <li>Бар</li>
                        <li>Кухненски сектор</li>
                        <li>Паркинг</li>
                        <li>Баня</li>
                        <li>Прибори</li>
                        <li>Позволено за деца</li>
                    </ul>
                </div>
                <hr>
                <div class="listing-reviews-container">
                    <h2>Ревюта</h2>
                    <div class="reviews-cards">
                        <button class="pre-btn"><i class="fa-solid fa-arrow-left"></i></button>
                        <div class="card">
                            <div class="card-top">
                                <i class="fa-solid fa-circle-user"></i>
                                <div class="review-card-name">
                                    <p>Georgi Georgiev</p>
                                    <p>Bulgaria</p>
                                </div>
                                <div class="review-date-rating">
                                    <p class = 'review-date'>24/05/2025</p>
                                    <p class="review-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>Уникална каравана с изглед към морето на първа линия. Общи баня и тоалетна, близко до лидъл и била. Чиста модерна и запазена с много място за багаж.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <i class="fa-solid fa-circle-user"></i>
                                <div class="review-card-name">
                                    <p>Georgi Georgiev</p>
                                    <p>Bulgaria</p>
                                </div>
                                <div class="review-date-rating">
                                    <p class = 'review-date'>24/05/2025</p>
                                    <p class="review-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>Уникална каравана с изглед към морето на първа линия. Общи баня и тоалетна, близко до лидъл и била. Чиста модерна и запазена с много място за багаж.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <i class="fa-solid fa-circle-user"></i>
                                <div class="review-card-name">
                                    <p>Georgi Georgiev</p>
                                    <p>Bulgaria</p>
                                </div>
                                <div class="review-date-rating">
                                    <p class = 'review-date'>24/05/2025</p>
                                    <p class="review-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>Уникална каравана с изглед към морето на първа линия. Общи баня и тоалетна, близко до лидъл и била. Чиста модерна и запазена с много място за багаж.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <i class="fa-solid fa-circle-user"></i>
                                <div class="review-card-name">
                                    <p>Georgi Georgiev</p>
                                    <p>Bulgaria</p>
                                </div>
                                <div class="review-date-rating">
                                    <p class = 'review-date'>24/05/2025</p>
                                    <p class="review-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>Уникална каравана с изглед към морето на първа линия. Общи баня и тоалетна, близко до лидъл и била. Чиста модерна и запазена с много място за багаж.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <i class="fa-solid fa-circle-user"></i>
                                <div class="review-card-name">
                                    <p>Georgi Georgiev</p>
                                    <p>Bulgaria</p>
                                </div>
                                <div class="review-date-rating">
                                    <p class = 'review-date'>24/05/2025</p>
                                    <p class="review-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>Уникална каравана с изглед към морето на първа линия. Общи баня и тоалетна, близко до лидъл и била. Чиста модерна и запазена с много място за багаж.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <i class="fa-solid fa-circle-user"></i>
                                <div class="review-card-name">
                                    <p>Georgi Georgiev</p>
                                    <p>Bulgaria</p>
                                </div>
                                <div class="review-date-rating">
                                    <p class = 'review-date'>24/05/2025</p>
                                    <p class="review-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <p>Уникална каравана с изглед към морето на първа линия. Общи баня и тоалетна, близко до лидъл и била. Чиста модерна и запазена с много място за багаж.</p>
                            </div>
                        </div>
                        <button class="next-btn"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="listing-social-container">
                <div class="listing-social-sticky-container">
                    <h2 class = 'mini-title'>51Bgn на нощувка</h2>
                    <div class="reservation-info">
                        <p>Избери дати</p>
                        <input type="date">
                    </div>
                    <button class = 'reserve-btn basic-btn'>Резервирай</button>
                    <div class="reservation-info">
                        <p>2х51</p>
                        <p>102</p>
                    </div>
                    <hr>
                    <div class="reservation-info">
                        <p>Общо</p>
                        <p>102</p>
                    </div>
                </div>
                <div class="listing-social-sticky-container">
                    <p>Адрес: Созопол</p>
                    <p>Телефон: 0897373838</p>
                </div>
{#                <div class="nearby-destinations">#}
{#                    <ul>#}
{#                        <li>Кефене якото кафене</li>#}
{#                        <li>Музей на спорта</li>#}
{#                        <li>Люлка на любовта</li>#}
{#                        <li>Детска площадка</li>#}
{#                        <li>Парк</li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}