{% extends 'common/base.html' %}
{% block content %}
    <div class="user-listings">
        {% for listing in listings %}
            <div class='user-listing-card'>
                <a href="{% url 'edit-listing' listing.pk %}"><i class="fa-solid fa-pen-to-square listing-edit"></i></a>
                <a href="{% url 'delete-listing' listing.pk %}"><i class="fa-solid fa-trash listing-delete"></i></a>
                <img src="{{ listing.images.first.image.url }}" alt="">
                <div class="listing-card-info">
                    <a href="{% url 'listing-detail' listing.pk %}"><h3>{{ listing.title }}</h3></a>
                    <p class="listing-card-category">{{ listing.type }}</p>
                </div>
                <div class="listing-card-info">
                    <p>Активна</p>
                    <p>v</p>
                </div>
                <div class = 'listing-card-info'>
                    <p>Разглеждания</p>
                    <p>0</p>
                </div>
                <div class = 'listing-card-info'>
                    <p>Харесвания</p>
                    <p>0</p>
                </div>
                <div class = 'listing-card-info'>
                    <p>Рейтинг</p>
                    <p>0</p>
                </div>
                <div class = 'listing-card-info'>
                    <p>Ревюта</p>
                    <p>0</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}