{% load static %}

<div class="header-container">
    <div class="header-left-container">
        <div class="header-logo">
            <a href="{% url 'index' %}"><img class='header-logo' src="{% static 'images/places_logo.png' %}"
                                             alt="places-logo"></a>
        </div>
        <div class="header-navigation">
            <ul class="header-ul">
                <li><a href="{% url 'index' %}">Начало</a></li>
                <li><a href="{% url 'index' %}">Категории</a></li>
                <li><a href="{% url 'index' %}">Блог</a></li>
                <li><a href="{% url 'index' %}">Акаунт</a></li>
            </ul>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="header-right-container">
            <div class="header-add-listing-btn">
                <a href="">Добави обява</a>
            </div>
            <div class="header-sign-in-btn">
                <form method = "post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fa-solid fa-right-from-bracket logout"></i></button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="header-right-container">
            <div class="header-sign-in-btn">
                <a href="{% url 'register' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        </div>
    {% endif %}
</div>