{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="index-container">
        <div class="index-map-container">
            <div id="map"></div>
            <div class="map-container-search">
                <input type="text" class="map-container-option" placeholder="Категория">
                <hr>
                <input type="text" class="map-container-option" placeholder="Местоположение">
                <hr>
                <input type="text" class="map-container-option" placeholder="Брой гости">
                <button class = 'basic-btn'><i class="fa-solid fa-magnifying-glass"></i>Търсене</button>
            </div>
        </div>
        <div class="index-category-container">
            <div class="category-container-title">
                <h1>Категории</h1>
                <p class="category-container-description">
                    Изберете категория и намерете желаното място!
                </p>
                <hr class = 'title-hr'>
            </div>
            <div class="category-container">
                <a href="{% url 'listings_by_category' listing_type='camper' %}">
                    <div class="category-container-card">
                    <p>Каравани</p>
                    <img src='{% static 'images/caravan-1858357_1920.jpg' %}' alt="caravan-image">
                </div>
                </a>
                <a href="{% url 'listings_by_category' listing_type='camping' %}">
                    <div class="category-container-card">
                    <p>Къмпинги</p>
                    <img src="{% static 'images/seaview-970918_1920.jpg' %}" alt="camping-image">
                </div>
                </a>
                <a href="{% url 'listings_by_category' listing_type='apartment' %}">
                    <div class="category-container-card">
                    <p>Апартаменти</p>
                    <img src="{% static 'images/building-6776335_1920.jpg' %}" alt="apartment-image">
                </div>
                </a>
                <a href="{% url 'listings_by_category' listing_type='bungalow' %}">
                    <div class="category-container-card">
                    <p>Бунгала</p>
                    <img src="{% static 'images/aerial-1373406_1920.jpg' %}" alt="bungalow-image">
                </div>
                </a>
            </div>
        </div>
        <div class="index-recommended-container">
            <div class="category-container-title">
                <h1>Предпочитани</h1>
                <p class="category-container-description">
                    Вижте най-желаните места!
                </p>
                <hr class = 'title-hr'>
            </div>
            <div class="listing-reviews-buttons">
                <button class="pre-btn"><i class="fa-solid fa-angle-left"></i></button>
                <button class="next-btn"><i class="fa-solid fa-angle-right"></i></button>
            </div>
            <div class="recommended-container-cards slider-container">
                {% for listing in listings%}
                    <a href="{% url 'listing-detail' listing.slug %}">
                        <div class="recommended-container-card">
                            <div class="recommended-image-shadow"></div>
                            <img src="{{ listing.images.first.image.url }}" alt="recommended-img">
                            <p class="recommended-container-price">от {{ listing.regular_price }}BGN</p>
                            <div class="recommended-container-info">
                                <h3>{{ listing.title }}</h3>
                                {% if listing.camping %}
                                    <p>{{ listing.camping }} / {{ listing.location.region }}</p>
                                {% else %}
                                    <p>{{ listing.location.city }} / {{ listing.location.region }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="index-blog-container">
            <div class="category-container-title">
                <h1>Блог</h1>
                <p class="category-container-description">
                    Нашият блог!
                </p>
                <hr class = 'title-hr'>
            </div>
            <div class="listing-reviews-buttons">
                <button class="pre-btn"><i class="fa-solid fa-angle-left"></i></button>
                <button class="next-btn"><i class="fa-solid fa-angle-right"></i></button>
            </div>
            <div class="blog-container-cards slider-container">
                {% for blog in blog_posts %}
                    <div class="blog-card">
                        <img src="{{ blog.blocks.first.image.url }}" alt="blog-card-img">
                        <h3>{{ blog.title }}</h3>
                        <p class='blog-card-info'>{{ blog.blocks.first.text|truncatewords:50 }}</p>
                        <p class='blog-card-date'>{{ blog.created_at }}</p>
                        <a href="{% url 'blog-post' blog.slug %}" class = 'basic-btn'>Прочети повече</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="index-info-container">
            <div class="info-container-card">
                <i class="fa-regular fa-file"></i>
                <p>Обяви</p>
                <p>0</p>
            </div>
            <hr>
            <div class="info-container-card">
                <i class="fa-regular fa-calendar"></i>
                <p>Обяви днес</p>
                <p>0</p>
            </div>
            <hr>
            <div class="info-container-card">
                <i class="fa-regular fa-user"></i>
                <p>Потребители</p>
                <p>0</p>
            </div>
            <hr>
            <div class="info-container-card">
                <i class="fa-solid fa-list"></i>
                <p>Категории</p>
                <p>0</p>
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/index-map.js' %}"></script>
{% endblock %}