{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/reservation-calendar.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>

    <div class="reservation-container">
        <h1>Резервирай: {{ listing.title }}</h1>

        <div class="reservation-caontainer-left">
            <div id="calendar" style="max-width: 800px; margin-bottom: 30px;"></div>
        </div>

        <div class="reservation-container-right">
            <form method="post">
                {% csrf_token %}
                <h2>Избрани дати: </h2>
                <div class="chosen-days">
                    {{ form.check_in.label }} {{ form.check_in }}
                    {{ form.check_out.label }} {{ form.check_out }}
                </div>

                <h2>Вашите данни:</h2>
                <div class="reservation-info">
                    {{ form.full_name.label }} {{ form.full_name }}
                    {{ form.phone.label }} {{ form.phone }}
                    {{ form.note.label }} {{ form.note }}
                </div>

                <button type="submit">Резервирай</button>
            </form>
        </div>
    </div>

    <script>
        window.pageType = "reservation";
        window.reservedDates = [
            {% for res in listing.reservations.all %}
                {start: "{{ res.check_in|date:'Y-m-d' }}", end: "{{ res.check_out|date:'Y-m-d' }}"},
            {% endfor %}
        ];
    </script>
    <script src="{% static 'javascript/reservation-calendar.js' %}"></script>
{% endblock %}