@media (max-width: 768px) {
    .messages{
        width: 100%;
        text-align: center;
        left: 0;
    }

    /*INDEX PAGE*/
    .header-container{
      margin: 0;
      justify-content: center;
    }

    .header-navigation {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #129990;
        padding: 20px;
        z-index: 1000;
    }

    .header-add-listing-btn{
      display: none;
    }

    .header-navigation.show {
        display: block;
    }

    .header-logo{
        width: 120px;
        margin-left: -15px;
    }

    .hamburger {
        display: flex;
    }

    .header-ul {
        flex-direction: column;
        gap: 10px;
    }

    .sub-navigation-options {
        position: relative;
        background: none;
        box-shadow: none;
        top: 0;
        padding: 0 0 10px 10px;
    }

    .header-right-container{
      margin-left: 15px;
    }

    #map{
      height: 500px;
    }

    .index-map-container{
        display: flex;
        flex-direction: column;
    }

    .map-container-search {
        position: static !important;
        width: 90% !important;
        height: auto !important;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 2rem;
        justify-content: flex-start !important;
        align-items: center !important;
        margin-top: 20px;
        align-self: center;
    }

    .map-container-search label:nth-child(1),
    .map-container-search input[name="check_in"] {
        width: 20%;
        margin-bottom: 0.25rem;
    }

    .map-container-search label:nth-child(3),
    .map-container-search input[name="check_out"] {
        width: 20%;
        margin-bottom: 0.25rem;
    }

    .map-container-search select[name="category"],
    .map-container-search input[name="city"],
    .map-container-search input[name="max_people"] {
        width: 31%;
        margin-bottom: 0.25rem;
    }

    .map-container-search hr {
        display: none !important;
    }

    .map-container-search button {
        width: 100% !important;
        margin-top: 0.5rem;
        border-radius: 10px;
        height: 45px;
        font-size: 16px;
    }

    .map-container-option{
        padding: 5px;
        font-size: 11px;
    }

    /*  category container  */
    .category-container-description{
        font-size: 14px;
    }

    .category-container-card:hover p{
        transform: translateY(5px);
    }

    .category-container {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .category-container-card p{
        font-size: 20px;
    }

    /*  recommended container  */
    .recommended-container-card{
        height: 250px;
        width: 300px;
    }

    .slider-container{
        max-width: 340px;
    }

    .recommended-container-price{
        font-size: 14px;
    }

    .recommended-container-info h3{
        font-size: 16px;
    }

    .recommended-container-info p{
        font-size: 14px;
    }

    .index-recommended-container{
        padding: 0 0 50px 0;
    }

    .listing-reviews-buttons{
        margin-top: 20px;
    }

    .listing-title-rating i{
        font-size: 14px !important;
    }

    .like-btn{
        font-size: 20px !important;
    }

    /*  blog container  */
    .index-blog-container{
        padding: 0 0 50px 0;
    }

    .blog-card{
        width: 340px;
    }

    .blog-card img{
        padding: 20px;
    }

    /*  info container  */
    .index-info-container hr{
        display: none;
    }

    .index-info-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .info-container-card p{
        font-size: 16px;
    }

    /*  footer  */
    .footer-top{
        font-size: 12px;
    }
    .footer-top h2{
        font-size: 14px;
    }

    /*  REGISTER PAGE  */
    .authentication-container{
        width: 320px;
    }

    .authentication-form-container form input{
        padding: 18px 12px;
    }

    /*  LISTING PAGE  */
    .listing-page-container{
        padding: 10px;
    }

    .listing-title-container{
        flex-direction: column;
    }

    .listing-title-container h1{
        font-size: 18px;
    }

    .listing-title-container-btns{
        font-size: 14px;
    }

    .listing-images-container{
        --gap: 10px;
        --row-height: 80px;
    }

    .show-images-btn{
        font-size: 10px;
        padding: 5px;
        bottom: 5px;
        right: 5px;
    }

    .mini-title{
        font-size: 14px;
    }

    .mini-description-container{
        margin-top: 0;
    }

    .mini-description-container ul li{
        font-size: 10px;
    }

    .host{
        flex-direction: column;
        font-size: 12px;
        padding: 5px;
    }

    .listing-container{
        flex-direction: column;
        margin-top: 20px;
    }

    .listing-info-container{
        width: 100%;
    }

    .amenity-container ul{
        font-size: 12px;
    }

    .listing-social-container{
        width: 90%;
        transform: none;
    }

    /*  LISTING BY CATEGORY PAGE  */
    .listing-by-category-container{
        flex-direction: column;
        height: auto;
    }

    .category-map-container{
        width: 100%;
        height: 50vh;
    }

    .category-results{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category-search-results{
        width: 100%;
    }

    .fc .fc-toolbar-title{
        font-size: 16px;
    }

    .fc-direction-ltr{
        height: 450px;
    }

    .category-amenities-container{
        display: none;
    }

    /*  RESERVATION PAGE  */
    .reservation-containers{
        flex-direction: column;
    }

    .reservation-container-left{
        width: 300px;
        display: flex;
    }

    .reservation-container h1{
        font-size: 24px;
        text-align: center;
    }

    .reservation-container-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .chosen-days{
        flex-direction: column;
    }

    .reservation-container-right form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*  ADD LISTING PAGE  */
    .listing-form-detail-info{
        display: flex;
        flex-direction: column;
    }

    .listing-form-details-location-input input, select{
        width: 100%;
    }

    .add-listing-form-details label{
        font-size: 12px;
    }

    #id_amenities input{
        width: 12px;
        height: 12px;
    }

    .monthly-price-form{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .monthly-price-form input{
        padding: 5px ;
        outline: none;
    }

    .add-listing-form h1{
        font-size: 24px;
    }

    .add-listing-btn{
        font-size: 15px;
        padding: 12px 25px;
    }

    /*  USER LISTINGS  */
    .user-listing-card{
        flex-direction: column;
        width: 90%;
        padding: 10px;
    }

    .user-listings h1{
        font-size: 24px;
        text-align: center;
    }

    .user-listing-card img{
        width: 100%;
    }

    .user-listing-card-info-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*  DELETE LISTING PAGE  */
    .delete-listing-page h1{
        font-size: 20px;
        text-align: center;
    }

    .delete-listing-image{
        width: 90%;
    }

    /*  LIKES PAGE  */
    .empty-likes{
        font-size: 24px;
        text-align: center;
    }

    .liked-listings-container{
        width: 100%;
        margin: 50px 0;
    }

    /*  PROFILE PAGE  */
    .profile-details-container{
        flex-direction: column;
    }

    .profile-details{
        width: 90%;
    }

    .profile-details-hr{
        display: none;
    }

    .profile-edit-form{
        width: 90%;
        align-self: center;
    }

    /*  BLOG POST PAGE  */
    .blog-post-container{
        flex-direction: column;
        align-items: center;
    }

    .blog-post{
        width: 90%;
    }

    .blog-post-container-block img{
        width: 90%;
    }

}