@media (max-width: 768px) {
    /*INDEX PAGE*/
    .header-container{
      margin: 0;
      justify-content: center;
    }

    .header-navigation {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #129990;
        padding: 20px;
        z-index: 1000;
    }

    .header-add-listing-btn{
      display: none;
    }

    .header-navigation.show {
        display: block;
    }

    .hamburger {
        display: flex;
    }

    .header-ul {
        flex-direction: column;
        gap: 10px;
    }

    .sub-navigation-options {
        position: relative;
        background: none;
        box-shadow: none;
    }

    .header-right-container{
      margin-left: 10px;
    }

    #map{
      height: 500px;
    }

    .index-map-container{
        display: flex;
        flex-direction: column;
    }

    .map-container-search {
        position: static !important;
        width: 90% !important;
        height: auto !important;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 2rem;
        justify-content: flex-start !important;
        align-items: center !important;
        margin-top: 20px;
        align-self: center;
    }

    .map-container-search label:nth-child(1),
    .map-container-search input[name="check_in"] {
        width: 20%;
        margin-bottom: 0.25rem;
    }

    .map-container-search label:nth-child(3),
    .map-container-search input[name="check_out"] {
        width: 20%;
        margin-bottom: 0.25rem;
    }

    .map-container-search select[name="category"],
    .map-container-search input[name="city"],
    .map-container-search input[name="max_people"] {
        width: 31%;
        margin-bottom: 0.25rem;
    }

    .map-container-search hr {
        display: none !important;
    }

    .map-container-search button {
        width: 100% !important;
        margin-top: 0.5rem;
        border-radius: 10px;
        height: 45px;
        font-size: 16px;
    }

    .map-container-option{
        padding: 5px;
        font-size: 11px;
    }

    /*  category container  */
    .category-container-description{
        font-size: 14px;
    }

    .category-container {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .category-container-card p{
        font-size: 20px;
    }

    /*  recommended container  */
    .recommended-container-card{
        height: 250px;
        width: 300px;
    }

    .slider-container{
        max-width: 340px;
    }

    .recommended-container-price{
        font-size: 14px;
    }

    .recommended-container-info h3{
        font-size: 16px;
    }

    .recommended-container-info p{
        font-size: 14px;
    }

    .index-recommended-container{
        padding: 0 0 50px 0;
    }

    .listing-reviews-buttons{
        margin-top: 20px;
    }

    /*  blog container  */
    .index-blog-container{
        padding: 0 0 50px 0;
    }

    .blog-card{
        width: 340px;
    }

    .blog-card img{
        padding: 20px;
    }

    /*  info container  */
    .index-info-container hr{
        display: none;
    }

    .index-info-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .info-container-card p{
        font-size: 16px;
    }

    /*  footer  */
    .footer-top{
        font-size: 12px;
    }
    .footer-top h2{
        font-size: 14px;
    }

    /*  REGISTER PAGE  */
    .authentication-container{
        width: 320px;
    }

    .authentication-form-container form input{
        padding: 18px 12px;
    }

    /*  LISTING PAGE  */
    .listing-page-container{
        padding: 10px;
    }

    .listing-title-container{
        flex-direction: column;
    }

    .listing-title-container h1{
        font-size: 18px;
    }

    .listing-title-container-btns{
        font-size: 14px;
    }

    .listing-images-container{
        --gap: 10px;
        --row-height: 80px;
    }

    .show-images-btn{
        font-size: 10px;
        padding: 5px;
        bottom: 5px;
        right: 5px;
    }

    .mini-title{
        font-size: 14px;
    }

    .mini-description-container{
        margin-top: 0;
    }

    .mini-description-container ul li{
        font-size: 10px;
    }

    .host{
        flex-direction: column;
        font-size: 12px;
        padding: 5px;
    }

    .listing-container{
        flex-direction: column;
        margin-top: 20px;
    }

    .listing-info-container{
        width: 90%;
    }

    .amenity-container ul{
        font-size: 12px;
    }

    .listing-social-container{
        width: 90%;
        transform: none;
    }
}