*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

h1{
    text-transform: uppercase;
    color: #022c2c;
}

/*HEADER*/

header{
    background-color: #096B68;
    height: 100px;
    color: white;
}

.header-left-container{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 77px 0 77px;
}

.header-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-ul li{
    list-style: none;
    transition: 0.1s;
    padding: 12px;
}

.header-ul li:hover{
    background-color: #129990;
    border-radius: 50px;
}

.header-ul a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.3s;
}

.header-sign-in-btn i{
    font-size: 20px;
    transition: 0.3s;
    color: white;
}

.header-sign-in-btn i:hover {
    transform: scale(1.5);
    transition: 0.3s;
}

.header-logo{
    width: 160px;
    margin-top: 7px;
}



/*INDEX PAGE*/

.index-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/*map container*/
#map {
    height: 700px;
    z-index: 1;
}

.index-map-container{
    position: relative;
}

.map-container-search{
    position: absolute;
    top: 450px;
    z-index: 1000;
}

.map-container-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 70%;
}

/*category container*/

.index-category-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.category-container-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.category-container-description{
    color: gray;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 55%;
    gap: 20px 50px;
}

.category-container-card{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.category-container-card p{
    position: absolute;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    z-index: 100;
    transition: 0.3s;
    text-shadow: -1px 3px 3px rgba(0,0,0,0.59);
}

.category-container-card:hover p {
  transform: translateY(80px);
  transition: 0.3s;
}

.category-container-card:hover img {
    filter: brightness(100%);
    transition: 0.3s;
}

.category-container-card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: brightness(70%);
    transition: 0.3s;
}


/*info container*/

.index-info-container{
    background-color: #129990;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
}

.info-container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 15px;
}

.info-container-card i{
    font-size: 40px;
}

.info-container-card p{
    text-transform: uppercase;
    font-size: 25px ;
}

.index-info-container hr{
    height: 70px;
    outline: none;
}

/*recommended container*/

.index-recommended-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.recommended-container-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.recommended-container-card{
    height: 300px;
    width: 380px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
}

.recommended-container-card:hover{
    transform: translateY(-20px);
    transition: 0.3s;
}

.recommended-container-card img{
    width: 100%;
    height: 100%;
}

.recommended-container-price{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #129990;
    padding: 5px;
    border-radius: 20px;
    color: white;
}

.recommended-container-info{
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-shadow: -1px 3px 3px rgba(0,0,0,0.59);
}

.recommended-container-info h3 {
    color: white;
}

.recommended-container-info p{
    color: #bfbbbb;
}



